<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="ConnectionStringEnKontrol_11" connectionString="DSN=EK_ADM11_11;UID=user_read;PWD=lectura;" providerName="System.Data.Odbc"/>
    <add name="ConnectionStringEnKontrol_12" connectionString="DSN=EK_ADM12_11;UID=user_read;PWD=lectura;" providerName="System.Data.Odbc"/>
    <add name="ConnectionStringEnKontrol_13" connectionString="DSN=EK_ADM13_11;UID=user_read;PWD=lectura;" providerName="System.Data.Odbc"/>
    <add name="ConnectionStringEnKontrol_14" connectionString="DSN=EK_ADM14_11;UID=user_read;PWD=lectura;" providerName="System.Data.Odbc"/>
    <add name="ConnectionStringEnKontrol_15" connectionString="DSN=EK_ADM15_11;UID=user_read;PWD=lectura;" providerName="System.Data.Odbc"/>
    <add name="ConnectionStringEnKontrol_16" connectionString="DSN=EK_ADM16_11;UID=user_read;PWD=lectura;" providerName="System.Data.Odbc"/>
    <add name="ConnectionStringEnKontrol_17" connectionString="DSN=EK_ADM17_11;UID=user_read;PWD=lectura;" providerName="System.Data.Odbc"/>
    <add name="ConnectionStringEnKontrol_18" connectionString="DSN=EK_ADM18_11;UID=user_read;PWD=lectura;" providerName="System.Data.Odbc"/>
  </connectionStrings>
</configuration>
